
.error_4{
   
    width: 10rem;
    height: 10rem;
    
    font-size: 9rem;
    
}
.error_2nd_4{
    
    width: 10rem;
    height: 10rem;
    font-size: 9rem;
}


.face{
  
    position: relative;
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    background-image: url('6047baffcc5cb814172962.gif');
    background-repeat: no-repeat;
    /* background-position-y: -115px;
    background-position-x: -103px; */
    z-index: 5;
    background-size: 17rem;
    background-position: -50px -13px;
}    